@using System.Collections.Immutable

@model IEnumerable<Common.Models.EventsFields>

@{
    ViewData["Title"] = "Strona główna";
}

<div class="container">
    <div class="row align-items-center" style="background-color: #e9ecef;">
        <div class="col-lg-6 col-md-12 col-sm-12 jumbotron-text">
            <h1 class="display-4">Gdańska Kultura</h1>
            <p class="lead">Tutaj znajdzień wszystkie wydarzenia z Gdańsk i okolicy.</p>
            <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-light">O nas</a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" style="padding: 0 0 0 0">
            <img src="images/StockSnap_C9M98T85FN.jpg" class="img-fluid jumbotron-image">
        </div>
    </div>

    <div class="row align-items-center">
        <h3>Najbliższe wydarzenia</h3>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/StockSnap_N5IUE5LITY.jpg" alt="Upsss..." />
                <div class="card-body">
                    <h5 class="card-title">@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).First().Name</h5>
                    <p class="card-text">@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).First().DescShort</p>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).First().Id" class="btn btn-light">Więcej</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/coffee.jpg" alt="Upsss..." />
                <div class="card-body">
                    <h5 class="card-title">@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).Skip(1).First().Name</h5>
                    <p class="card-text">@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).Skip(1).First().DescShort</p>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).Skip(1).First().Id" class="btn btn-light">Więcej</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/Event1.jpg" alt="Upsss..." />
                <div class="card-body">
                    <h5 class="card-title">@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).Skip(2).First().Name</h5>
                    <p class="card-text">@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).Skip(2).First().DescShort</p>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@Model.Where(x => x.StartDate > DateTime.Now).OrderBy(x => x.StartDate).Skip(2).First().Id" class="btn btn-light">Więcej</a>
                </div>
            </div>
        </div>
    </div>
</div>

